
.header{
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
.navbar-expand-xl .navbar-collapse{
    justify-content: flex-end;
}
.navbarDropdownMenuLink1{
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}
.first-screen-right img{
    width: 100%;
}
.first-screen-left h1{
   padding-top: 120px;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.4px;
    color: #1652AC;
}
.first-screen-left p {
    padding-top: 120px;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
    position:relative;
}
.first-screen-left p::before,
.first-screen-left p::after{
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 7px;
    background-color: #EDEFF3;
}
.first-screen-left p::before{
    top:55px;
}
.first-screen-left p::after{
   bottom:-55px;
}
.blue-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.42px;
    color: #1652AC;
}
.first-screen-left-second span  {
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
}
.first-screen-right-second{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.first-screen-left-three{
    background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
}
.first-screen-left-three p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #FBFDFF;
}
.first-screen-left-three h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2.42px;
    color: #FBFDFF;
}
.first-screen-left-three{
    display: flex;
    flex-direction: column;
    padding: 150px;
    justify-content: center;
}
.four-screen-left{
    padding-top: 200px;
}
.fourth-screen-right{
    display: flex;
   flex-direction: column;
}