.width{
    color: white;
    width: 100%;
    text-align: center;
}
.wrap {
    margin: 0px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    border: 1px solid black;
    ;
}
.header {
    height:100px;
    background: #0c1f73;
}
.nav {
    height: 100px;
    background: #205a93;
}
.c {
    display: flex;
    flex-direction:row;
    background: #0d2b65;


}
.main {
    width: 70%;
    height:400px ;
    background: #37a6d0;
    text-align: center;

}
.aside{
    width: 30%;
    height:400px ;
    background: #4a6b83;
    text-align: center;
}
.footer{
    height: 100px;
    background: #191f91;
}