.text{
    text-align: center;
    background: #aba6a6;
    border-radius: 5px;

}
.flex{
    display: flex;
}

.main{
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid red;
    box-sizing: border-box;
}
.head{
    height: 100px;
    margin: 5px;
}
.menu{
    width: 100%;
    box-sizing: border-box;
}

.items{
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.points{
    width: 110px;
    height: 100px;
    margin: 5px;
}
.bottom{
    flex-grow: 1;
    margin: 5px;

}