.border{
    background: #ffffff;
    padding: 5px;
    border: red solid 1px;
    box-shadow: 60px -8px 5px #444;
    box-sizing: border-box;
}
.wrap {
    margin: 0px auto;
    width: 900px;
    height: 900px;
    background: #bd884e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #d52525 solid 2px;
}
.xxx  {
    width: 120px;
    height: auto;
}
.ccc {
    width: 120px;
    height: auto;
}
.vvv  {
    width:200px;
    height: auto;
}