body,html {
    scroll-behavior: smooth;
    margin: 5px;
    background: darkgrey;

}
img{

    align: center;
    border: 1px solid red;
}
h2{
    color: red;
    text-align: center;
    font-size: 40px;

}
.first li{
    text-align: center;
    list-style: none;
    background: aliceblue;
    border: 2px;
}