.wrap{margin: 0px auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.widgets{
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
    background: #2e5aa6;
    text-align: center;
}
.xxx{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bigwidget{
    height: 150px;
    width: 150px;
    background: #4a6b83;
    text-align: center;
}
.biggerwidget{
    height: 150px;
    width: 150px;
    background: #4a6b83;
    text-align: center;
}
.hugewidgets{
    height: 150px;
    width: 150px;
    background: #4a6b83;
    text-align: center;
}
.contact{
    margin-top: 10px;
    height: 150px;
    width: 100%;
    background: #274e9a;
    text-align: center;
}