.txt{
    color: white;
    text-align: center;
}
.bcg{
    margin-top: 10px;
    background: #4a6b83;
    height: 150px;
    width: 150px;
}
.same{
    margin-top: 10px;
    height: 150px;
    width: 100%;
    background: #274e9a;
}
.wrap{margin: 0px auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.xxx{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
