.txt{
    color: white;
    text-align: center;
    background: #0d2b65;
    border-radius: 5px;
}
.glavnyj{
    width: 600px;
    margin: 0px auto;
}
.golova{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.livyj{
    width: 50%;
    height: 300px;
    margin: 5px;
}
.seredina{
    margin: 5px;
    height: 200px;
}
.niznij{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.niz{
    margin: 5px;
    height: 300px;
    width: 30%;
}