.wrap {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    border: 1px solid black;
    ;
}
.a {
    width: 100%;
    height:100px;
    background: #490b0b;
}
.b {
    width: 100%;
    height: 100px;
    background: #909f2f;
}
.c {width: 100%;
    height: 150px;
    display: flex;
    flex-direction:row;
    background: #7c7f85;


}
.c1 {
    width: 70%;
    height:200px ;
    background: #dc3535;
    flex-grow: 2;
}
.c2 {
    width: 30%;
    height:200px ;
    background: #4a6b83;
}
.d {

    width: 100%;
    height: 150px;
    background: #3bef53;
}