.wrap {
    margin: 0px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}


.header{
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background: #a8e331;
}
.id{
    width: 100%;
    display: flex;
    background: #ffffff;
}

.menu {
    margin-right: 10px;
    width: 200px;
    height: 350px;
    background: #e7be31;
}
.a{
    width: 600px;
    height: 350px;
    background: #dc3535;
    display: flex;
    flex-direction: column;
}
.post{
    height:175px ;
    width:100%;
}

.footer{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background: #909f2f;

}