.wrapper {
    width: 1400px;
    margin: 0px auto;
}
.container-fluid {
    background: #0F2438;
}

.navbar-expand-xl .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.navbar-expand-xl .navbar-nav {
    column-gap: 50px;
}

.navbar > .container-fluid {
    padding-left: 50px;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.mainmenu, .whattsap, .coll-me, .navigation, .timing, .clasification, .header-info {
    display: flex;
    align-items: center;
}

.mainmenu {
    padding-left: 200px;
}

.header-info {
    justify-content: space-around;
    padding-left: 50px;

}

.clasification {
    margin-top: 30px;
    width: 300px;
    height: 100px;
}

.clasification h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.timing {
    width: 275px;
    height: 100px;
}

.timing p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.navigation p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.whattsap {
    justify-content: space-evenly;
    width: 260px;
    height: 40px;
    background: #E1EFD0;
    border-radius: 2px;
}

.whattsap p {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.telephone-main p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
}

.telephone-main h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.buttons-search {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 70px;
}
.head-top{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    height: 53px;
    width: 165px;
    background: #005BB9;
    border-radius: 6px;
}

.catalogue h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 5px;
}

.burger div {
    width: 30px;
    height: 4px;
    background: white;
}

.input-text {
    display: flex;
    align-items: center;
    padding-left: 19px;
    margin-left: 30px;
    width: 480px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}

.input-text h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}

.find {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}
.find h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.user{
    width: 150px;
    display: flex;
    align-items: center;
    padding-left:30px;
    border-right: 1px solid #E1E5F8;
}
.choose{
    width: 200px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-right: 1px solid #E1E5F8;
}
.choose,.cart,.user, h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.cart{
    width: 200px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.slider-main{
    margin-left: 70px;
    padding-top: 40px;
}
.cluth-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clutch{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    background: url("image/background.png") repeat center/cover ;
    border-radius: 35px;
}
.left-cursor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width:35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
}

.button-cart{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #005BB9;
    border-radius: 6px;
}
.price-clutch{
   padding-left: 70px;
}
.price-clutch>h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    margin-top: 20px;
}
.price-clutch>p{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.divided-price h2{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.divided-price p{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.button-cart>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.circle-2{
    width:35px;
    height:35px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
}
.three-buttons{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.one{
    width: 17px;
    height:17px;
    border-radius: 50%;
    background-color: #100f0f;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ffffff;
}

.three{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ffffff;
}

.top-slider{
    width: 300px;
    height: 180px;
    background: #F4F5FA;
    border-radius: 10px;
}
.bottom-slider{
    width: 300px;
    height: 180px;
    background: #F4F5FA;
    border-radius: 10px;
}
.slider-main{
    display: flex;
    column-gap: 15px;
}
.slider-right{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.discount{
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.discount h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.discount-wrap{
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.chain-bot{
    column-gap: 15px;
    display: flex;
    align-items: center;
}
.korzina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 50px;
    background: #005BB9;
    border-radius: 6px;
}
.top-chain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-chain span{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.top-chain p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.chain-bot span{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.chain-bot p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.oil-filters-group{
    margin-top: 50px;
    padding-left: 70px;
}
.rondo-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toyota-oil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 430px;
    height: 185px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.gotothe{
    display: flex;
    padding-top: 11px;
    justify-content: center;
    width: 90px;
    height: 30px;
    background: #005BB9;
    border-radius: 4px;
}
.gotothe p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}