.wrapper {
    width: 1400px;
    margin: 0px auto;
}
.container-fluid {
    background: #0F2438;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.navbar-expand-xl .navbar-nav {
    column-gap: 50px;
}
.navbar > .container-fluid {
    padding-left: 50px;
}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.mainmenu, .scrolling, .pictures-info, .signature, .long-button, .black-box1, .action-key, .black-box2, .black-box3, .black-box4, .minus-price, .into-cart, .buy-now2, .grey-line, .left-cursor, .clutch, .star, .some-sales, .korzina, .some-action, .some-items, .buy-now, .little-circle2, .rondo-right, .little-circle, .toyota-oil, .rondo-lef, .oil-filters2, .catalogue, .discount, .chain-bot, .input-text, .whattsap, .coll-me, .navigation, .timing, .clasification, .header-info {
    display: flex;
    align-items: center;
}
.mainmenu {
    padding-left: 245px;
}
.header-info {
    justify-content: space-around;
    padding-left: 50px;
}
.clasification {
    margin-top: 30px;
    width: 300px;
    height: 100px;
}
.clasification span {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.timing {
    width: 275px;
    height: 100px;
}
.timing p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.navigation p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.whattsap {
    justify-content: space-evenly;
    width: 260px;
    height: 40px;
    background: #E1EFD0;
    border-radius: 2px;
}

.whattsap p {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.telephone-main p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
}

.telephone-main h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.buttons-search {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 70px;
}
.head-top{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.catalogue {
    justify-content: center;
    column-gap: 15px;
    height: 53px;
    width: 165px;
    background: #005BB9;
    border-radius: 6px;
}
.catalogue h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.burger {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 5px;
}
.burger div {
    width: 30px;
    height: 4px;
    background: white;
}
.input-text {
    padding-left: 19px;
    margin-left: 30px;
    width: 480px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}
.input-text h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}
.find {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}
.find h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.user{
    width: 150px;
    display: flex;
    align-items: center;
    padding-left:30px;
    border-right: 1px solid #E1E5F8;
}
.choose{
    width: 200px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-right: 1px solid #E1E5F8;
}
.choose,.cart,.user, h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.cart{
    width: 200px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.slider-main{
    margin-left: 70px;
    padding-top: 40px;
}
.cluth-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clutch{
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    background: url("image/background.png") repeat center/cover ;
    border-radius: 35px;
}
.left-cursor{
    justify-content: center;
}
.circle{
    width:35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
}
.button-cart{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #005BB9;
    border-radius: 6px;
}
.price-clutch{
   padding-left: 70px;
}
.price-clutch>h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    margin-top: 20px;
}
.price-clutch>p{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.divided-price h2{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.divided-price p{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.button-cart>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.circle-2{
    width:35px;
    height:35px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
}
.three-buttons{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.one{
    width: 17px;
    height:17px;
    border-radius: 50%;
    background-color: #100f0f;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ffffff;
}

.three{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ffffff;
}
.top-slider, .bottom-slider{
    width: 310px;
    height: 180px;
    background: #F4F5FA;
    border-radius: 10px;
}
.slider-main{
    column-gap: 15px;
}
.slider-right{
    flex-direction: column;
    row-gap: 35px;
}
.discount{
    padding-left: 20px;
    height: 40px;
    justify-content: flex-start;
}
.discount h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.discount-wrap{
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.chain-bot{
    column-gap: 15px;
}
.korzina{
    justify-content: center;
    width: 57px;
    height: 50px;
    background: #005BB9;
    border-radius: 6px;
}
.top-chain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-chain span{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.top-chain p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.chain-bot span{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.chain-bot p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.oil-filters2{
    margin-top: 50px;
    padding-left: 70px;
    column-gap: 30px;
}
.rondo-left{
    justify-content: center;
}
.toyota-oil{
    justify-content: space-around;
    width: 430px;
    height: 185px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.gotothe{
    display: flex;
    padding-top:5px;
    justify-content: center;
    width: 90px;
    height: 30px;
    background: #005BB9;
    border-radius: 4px;
}
.gotothe h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.little-circle{
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    right: 27px;
}
.about-filter2{
   padding-top: 20px;
}
.about-filter2 h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}
.air-filter2{
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 185px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.descripion-5, .about-filter2 p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.picture-filter img{
    padding-left: 50px;
    margin-right: -7px;
}
.rondo-right{
    justify-content: center;
}
.little-circle2 {
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 45px;
}
.picture img{
    margin-right: -20px;
}
.picture2 img{
    margin-right: -120px;
}
.buy-now{
    margin-top: 40px;
    padding-left: 70px;
    column-gap: 20px;
}
.some-items{
    color: #ffffff;
    justify-content: center;
    height: 55px;
    width: 240px;
    background: #005BB9;
    border-radius: 6px;
}
.some-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.some-action{
    justify-content: center;
    height: 55px;
    width: 123px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.some-action h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
.some-sales{
    justify-content: center;
    height: 55px;
    width: 180px;
    padding-top: 10px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.some-sales p{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
.grid-parts{
    margin-top: 20px;
}
.complekt-first{
    column-gap:100px;
    width:320px;
    padding-left: 70px;
}
.star{
    column-gap: 10px;
}
.star span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}
.star li{
    padding-left: 5px;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}
.transcription li{
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.fixed-pice{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.fixed-pice li{
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
}
.fixed-pice ol{
    font-weight: normal;
    font-size: 13px;
    padding-top: 10px;
    line-height: 15px;
    margin-left: -20px;
    text-decoration-line: underline;
    color: #005BB9;
}
.buy-now2{
    column-gap: 15px;
}
.into-cart{
    justify-content: space-evenly;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}
.into-cart h2{
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.fixed-pice2{
    display: flex;
    margin-top: 20px;
}
.fixed-pice2 li{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}
.fixed-pice2 ol{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.minus-price{
    justify-content: center;
    padding-top: 15px;
    width: 45px;
    height: 25px;
    background: #FFB800;
    border-radius: 2px;
}
.minus-price p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.scrolling{
    justify-content: center;
}
.action-key{
    width: 190px;
    height: 50px;
    justify-content: center;
    margin-top: 40px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.action-key h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #005BB9;
}
.news{
    margin-top: 70px;
    padding-left: 103px;
}
.news h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.grey-line{
    width: 100%;
    padding-right: 155px;
    justify-content: space-around;
    height: 10px;
    background: #F5F5F5;
}
.items{
    height: 10px;
    width: 10px;
    background-color: #020303;
    border-radius: 50px;
}
.newspaper{
    padding-left: 70px;
    margin-top: 20px;
}
.newspaper span {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}
.black-box1, .black-box2, .black-box3, .black-box4{
    justify-content: center;
    padding-top: 10px;
    width: 110px;
    color: #ffffff;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
}
.progres-news, .old-news, .future-news, .fresh-news{
    width: 315px;
}
.newspaper h6{
    padding-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.newspaper p{
    padding-bottom: -10px;
}
.old-news, .fresh-news, .progres-news, .future-news li{
    list-style:none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.items::before{
    content: "";
    display: block;
    align-items: center;
    width: 2px;
    margin-left: 4px;
    height: 35px;
    background-color: #020303;
}
.info-content{
    justify-content: space-evenly;
    margin-top: 60px;
    padding-left: 50px;
    height: 400px;
    background: #0C1A2A;
}
.catalog, .rubricator, .informacione, .adress-main, .contakts-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
}
.info-content li{
    padding-bottom: 10px;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.info-content h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.info-content p{
    padding-left: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.long-button{
    justify-content: space-between;
    width: 470px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
}
.long-button h2{
    padding-left:30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}
.signature{
    justify-content: center;
    height: 40px;
    width: 177px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}
.signature h2{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.pictures-info{
    flex-direction: row;
    column-gap: 50px;
    margin-top: 30px;
    padding-left: 200px;
}